<h1>Lista de productos</h1>
<table class="table text-center"> 
    <thead>
        <tr>
            <th>Imagen:</th>
            <th>Nombre:</th>
            <th>Tipo:</th>
            <th>Precio:</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let just of productosJust" [ngClass] = "{'oferta':just.oferta}">
            <td><img width = "130" [src]= "just.imagen" [alt]= "just.nombre" > </td>
            <td>{{just.nombre}}</td>
            <td>{{just.tipo}}</td>
            <td>{{just.precio | currency}}</td>
            <td><span class="badge badge-danger" *ngIf ="just.stock ==0">SIN STOCK</span>
                <span class="badge badge-light" *ngIf ="just.oferta ==true">OFERTA</span>
            </td>
            <td> <app-input-integer [(cantidad)]="just.cant" [max]="just.stock" *ngIf = "just.stock" (maxAlcanzado)= "maximoAlcanzado($event)"></app-input-integer></td>
            <td><button class= "btn" *ngIf ="just.stock !=0" (click)="addCarro(just)" >Comprar</button></td>
        </tr>
       
    </tbody>
</table>


